body{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}
/*-----------------------------HEADER-------------------------------*/
header{
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header div h4{
    margin: 0;
    text-align: center;
}
header div p{
    margin: 0;
    text-align: center;
}
header a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: grey;
}
/* --------------------------------- MAIN -----------------------------*/
main{
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main p{
    font-size: 20px;
}
main h1{
    font-size: 8em;
    letter-spacing: 30px;
    margin: 0;
}
.top-text{
    margin-top: 50px;
}
.button{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
