
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.diphylleia-regular {
    font-family: "Diphylleia", serif;
    font-weight: 400;
}
.honk{
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "MORF" 32,
            "SHLN" 37;
}
.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.robotoText{
    font-family: 'Roboto', sans-serif;
    color: coral;
    font-size: 30px;

}
